.logo{
    text-align: center;
  }
  
  .li-button{
    padding-top: 5vh;
  }
  
  .li-button:hover {
    color: #00F5FF;
    /* text-decoration: underline */
  }
  
  .army-logo{
    width: 50px;
  }

  div.li-button a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }